body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.c0 {
  margin-top: 5%;
}
.c1 {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  max-height: 180px;
  width: 550px;
  margin-bottom: 5%;
}
.c1 h2 {
  font-size: 30px;
  text-align: center;
}
.c1 input {
  margin: 2%;
  height: 35px;
  width: 75%;
  font-size: 20px;
  background-color: bisque;
}
#cal {
  height: 30px;
  font-size: 20px;
  background-color: #ace0f9;
}
#cal:hover {
  background-color: rgb(127, 242, 255);
  transform: scale(1.1);
}
.c2 {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 170px;
  width: 530px;
  padding-left: 18px;
}
.c3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 150px;
  width: 150px;
  margin: 0 10px;
}

.c3 input {
  margin: 10px 48px;
  height: 80px;
  width: 80px;
  background-color: bisque;
  font-size: 40px;
  padding: 2%;
}
.c3 p {
  margin: 0px 48px;
  font-size: larger;
  font-weight: 600;
}

#p1 {
  color: red;
  padding-bottom: 5px;
  padding-left: 5px;
}
.centered-button {
  margin: 20px 180px;
}
